@media screen and (max-width: 1024px) {
  aside {
    position: absolute;
    top: 0;
    left: -150%;
    transition: left 300ms;
  }

  aside.open {
    left: 0;
  }
}

.card {
  list-style: none;
  font-size: 0.9em;
  font-family: "Allerta Stencil", sans-serif;
  margin: 1em 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #4d4d4d;
}

.card-item {
  padding: 0.5em 0.25em;
  cursor: pointer;
}

.card-item.active {
  background-color: #333;
}

.card-item:hover {
  background-color: #000;
}

.card-item > span {
  color: #4c9a2a;
}
