@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Black+Ops+One&display=swap");

body {
  margin: 0;
  font-family: "Black Ops One", cursive;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
